{% extends 'base.html' %} {% load static %} {% block content %}

<!-- (#home) -->
<section id="home">
    <!-- (header) -->
    <header>
        <div class="wrapper">
            <nav>
                <h1>
                    <a href="#">
                        <img
                            src="{% static 'assets/images/tplogo.png' %}"
                            alt="logo"
                        />
                    </a>
                </h1>
                <div class="right">
                    <ul>
                        <li><a href="#spotlight" class="active">Home</a></li>
                        <li><a href="#amenities">Our Amenities</a></li>
                        <li><a href="#events">Our Events</a></li>
                        <li><a href="#revenue">Revenue Model</a></li>
                        <li><a href="accounts/logout">Logout</a></li>
                    
                    </ul>
                    <div class="hamburger">
                        <img
                            src="{% static 'assets/images/humbergimage.svg' %}"
                            alt="hamburger"
                        />
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#amenities">Our Amenities</a></li>
                            <li><a href="#events">Our Events</a></li>
                            <li><a href="#revenue">Revenue Model</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- (header) -->
    <!-- (#home > spotlight) -->

    <section id="spotlight">
        <div class="video-player" lockscroll>
            <video
                src="./{% static 'assets/videos/kannur.mp4' %}"
                controls
            ></video>
            <span>
                <img
                    src="{% static 'assets/images/close.svg' %}"
                    alt="close-image"
                />
            </span>
        </div>
        <div class="left">
            <h1>
                Now we are at <i>Kannur </i><br />
                Building a Strong<br />Startup Ecosystem
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Malesuada pellentesque sit faucibus vel tellus pharetra et
                molestie. Enim in vulputate in parturient diam in vulputatem
                Lorem ipsum tellus pharetra et molestie.
            </p>
            <div class="location">
                <span>
                    <img
                        src="{% static 'assets/images/location.png' %}"
                        alt="location image"
                    />
                </span>
                <h4>Kannur Techie’s Park, Kanhirode, Mattannur</h4>
            </div>
            <button>
                <span class="videobutton">Play Video</span>
                <img
                    src="{% static 'assets/images/play.png' %}"
                    alt="play icon"
                />
            </button>
        </div>
        <div class="right">
            <div class="image-container">
                <img
                    src="{% static 'assets/images/office.png' %}"
                    alt="officeimg"
                />
            </div>
            <div class="button-container">
                <div class="build-button">
                    <img
                        src="{% static 'assets/images/playbuttonhome.png' %}"
                        alt="playbutton"
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- (#home > spotlight) -->
</section>

<!-- (#home) -->
<!-- (#Amenities) -->
<section id="amenities">
    <div class="wrapper">
        <h1>
            Our<small
                >&nbsp Amenities
                <img src="{% static 'assets/images/Vector.png' %}" alt="Line"
            /></small>
        </h1>
        <p>
            Techies Park is a world-class infrastructure with premium amenities
            to promote education and entrepreneurship and thereby aid overall
            development of the constituency.
        </p>
        <div class="gallery">
            <ul class="photo-booth">
                <li>
                    <img
                        src="{% static 'assets/images/meetingroom.png' %}"
                        alt="meeting_room"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Administration Room</span>
                    <span class="hover">+7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/reception.png' %}"
                        alt="reception"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Reception</span>
                    <span class="hover">+7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/presentation.png' %}"
                        alt="presentation_room"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Presentation Room</span>
                    <span class="hover">+7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/workspace.png' %}"
                        alt="workspace"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Workspace</span>
                    <span class="hover">+7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/conferenceroom.png' %}"
                        alt="conferenceroom"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Conference Room</span>
                    <span class="hover"> +7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/conferenceroom.png' %}"
                        alt="conferenceroom"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Conference Room</span>
                    <span class="hover"> +7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/cafeteria.png' %}"
                        alt="cafeteria"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Cafeteria </span>
                    <span class="hover">+7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/washrom.png' %}"
                        alt="washroom"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Washroom</span>
                    <span class="hover">+7 More Images</span>
                </li>
                <li>
                    <img
                        src="{% static 'assets/images/bathroom.png' %}"
                        alt="bathroom"
                    />
                    <span class="count"><small>1/7</small></span
                    ><span class="name">Bathroom</span>
                    <span class="hover">+7 More Images</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- (#Amenities) ends-->
<!-- (#events) -->
<section id="events">
    <div class="wrapper">
        <h1 class="head">
            Our
            <small
                >Events
                <img src="{% static 'assets/images/Vector.png' %}" alt="Line"
            /></small>
        </h1>
        <p>
            Several events are being organised by Talrop and its startups in
            Techies Parks to support entrepreneurship and technological
            education. Techies Parks is a venue that is open to both
            governmental and non-governmental organisations.
        </p>
        <ul class="cards"></ul>
        <button class="foot">
            <span class="button-view-name">
                View More events
                <img
                    src="{% static 'assets/images/arrow.png' %}"
                    alt="arrow_image"
                />
            </span>
        </button>
    </div>
</section>
<!-- (#events) ends -->
<!-- (#revenue) -->

<section id="revenue">
    <div class="wrapper">
        <h1>
            Revenue
            <span
                >Models
                <img src="{% static 'assets/images/Vector.png' %}" alt="line"
            /></span>
        </h1>
        <p>
            To build a strong startup ecosystem and accelerate startups, Talrop
            is establishing Techies Parks in all 140 Assembly constituencies of
            Kerala. 7 of them are already established and remaining 133 will be
            done by the end of 2024.
        </p>
        <ul class="widget">
            <li>
                <div class="green">
                    <img
                        src="{% static 'assets/images/shares.svg' %}"
                        alt="image"
                    />
                </div>
                <div class="white">
                    <img
                        src="{% static 'assets/images/shareswhite.svg' %}"
                        alt="image"
                    />
                </div>
                <h3>Course fee</h3>
                <span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nec id lectus malesuada massa facilisi tempor. Dui est et
                    eget in lorem turpis eros dignissim.
                </span>
            </li>
            <li>
                <div class="green">
                    <img
                        src="{% static 'assets/images/hike.svg' %}"
                        alt="image"
                    />
                </div>
                <div class="white">
                    <img
                        src="{% static 'assets/images/hikewhite.svg' %}"
                        alt="image"
                    />
                </div>
                <h3>Startup</h3>
                <span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nec id lectus malesuada massa facilisi tempor. Dui est et
                    eget in lorem turpis eros dignissim.
                </span>
            </li>
            <li>
                <div class="green">
                    <img
                        src="{% static 'assets/images/workstation.svg' %}"
                        alt="image"
                    />
                </div>
                <div class="white">
                    <img
                        src="{% static 'assets/images/workstationwhite.svg' %}"
                        alt="image"
                    />
                </div>
                <h3>Co-Working Space</h3>
                <span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nec id lectus malesuada massa facilisi tempor. Dui est et
                    eget in lorem turpis eros dignissim.
                </span>
            </li>
            <li>
                <div class="green">
                    <img
                        src="{% static 'assets/images/sensex.svg' %}"
                        alt="image"
                    />
                </div>
                <div class="white">
                    <img
                        src="{% static 'assets/images/sensexwhite.svg' %}"
                        alt="image"
                    />
                </div>
                <h3>Startup Revenue</h3>
                <span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nec id lectus malesuada massa facilisi tempor. Dui est et
                    eget in lorem turpis eros dignissim.
                </span>
            </li>
        </ul>
    </div>
</section>
<!-- (#revenue) ends -->
<!-- (footer) -->
<footer>
    <div class="wrapper">
        <div class="caption-container">
            <img
                src="{% static 'assets/images/tpwhite.png' %}"
                alt="TalropLogo"
            />
        </div>
        <h3>A project from</h3>
        <a href="https://talrop.com/" class="logo">
            <img
                src="{% static 'assets/images/talrop.svg' %}"
                alt="TalropLogo"
            />
        </a>
        <div class="line"></div>
        <div class="bottom">
            <a href="https://www.instagram.com/talropworld/"
                ><img
                    src="{% static 'assets/images/instagram.png' %}"
                    alt="instagram"
            /></a>
            <a href="https://www.facebook.com/talropworld/"
                ><img
                    src="{% static 'assets/images/facebook.png' %}"
                    alt="facebook"
            /></a>
            <a href="https://twitter.com/talropworld/"
                ><img
                    src="{% static 'assets/images/twitter.png' %}"
                    alt="twitter"
            /></a>
            <a href="https://www.linkedin.com/company/talrop/"
                ><img
                    src="{% static 'assets/images/linkedin.png' %}"
                    alt="linkedin"
            /></a>
            <a href="https://www.youtube.com/c/talrop"
                ><img
                    src="{% static 'assets/images/youtube.png' %}"
                    alt="youtube"
            /></a>
        </div>
    </div>
</footer>
<!-- (#footer) ends -->
<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
